.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
}

.main__container {
  width: 80vw;
  padding-top: 50px;

  border-style: solid;
  border-color: black;
}

.main__title {
  width: 100%;
  text-align: left;
  font: 25px Arial, sans-serif;
  font-weight: bold;
}

.search_container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 12px;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
}

.search_container__title {
  display: flex;
  justify-content: flex-start;
}

.search_container__form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  //   border-style: solid;
  //   border-color: blue;
}

.search_input {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  height: 40px;
  font-size: 24px;
  border-radius: 5px;
  border-width: 1px;
}
